<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wow.api.repository.CoreSlaveRepository">


    <select id="selectGroupCodeList" resultType="com.wow.api.model.Code">
        SELECT group_code,
               group_name,
               detail_code,
               detail_name
          FROM common_code
         WHERE detail_code IS NULL
           AND use_yn = 'Y';
    </select>

    <select id="selectDetailCodeList" parameterType="String" resultType="com.wow.api.model.Code">
         SELECT group_code,
               group_name,
               detail_code,
               detail_name,
               detail_desc,
               ref_a,
               ref_b,
               ref_c
          FROM common_code
         WHERE group_code = #{groupCode}
           AND use_yn = 'Y'
           AND detail_code IS NOT NULL
         ORDER BY priority ASC
    </select>

    <select id="selectDetailCode" parameterType="map" resultType="com.wow.api.model.Code">
        SELECT group_code,
               group_name,
               detail_code,
               detail_name,
               detail_desc,
               ref_a,
               ref_b,
               ref_c
          FROM common_code
         WHERE group_code = #{groupCode}
           AND detail_code = #{detailCode}
         ORDER BY priority ASC
    </select>


</mapper>