<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wow.api.repository.UserMasterRepository">

    <!-- 사용자 등록 -->
    <insert id="insertUser" parameterType="com.wow.api.model.User" useGeneratedKeys="true" keyProperty="userSeq">
        INSERT INTO user (
            user_id,
            user_password,
            user_name,
            user_status,
            reg_date,
            last_login_date
        ) VALUES (
            #{userId},
            #{userPassword},
            #{userName},
            '0001',
            NOW(),
            NOW()
        )
    </insert>

    <!-- 사용자 수정 -->
    <update id="updateUser" parameterType="com.wow.api.model.User">
        UPDATE user
           SET user_password = #{userPassword},
               user_name = #{userName}
         WHERE user_seq = #{userSeq}
    </update>

    <!-- 사용자 케릭터 등록 -->
    <insert id="insertUserCharacter" parameterType="com.wow.api.model.Character" useGeneratedKeys="true" keyProperty="characterSeq">
        INSERT INTO user_character(
            user_seq,
            server_code,
            tribe_code,
            character_name,
            character_position,
            character_job,
            guild_seq,
            first_expertise,
            second_expertise,
            reg_date,
            upd_date
        ) VALUES (
            #{userSeq},
            #{serverCode},
            #{tribeCode},
            #{characterName},
            #{characterPosition},
            #{characterJob},
            #{guildSeq},
            #{firstExpertise},
            #{secondExpertise},
            NOW(),
            NOW()
        )
    </insert>

    <!-- 사용자 케릭터 수정 -->
    <update id="updateUserCharacter" parameterType="com.wow.api.model.Character">
        UPDATE user_character
           SET upd_date = NOW()
        <if test="tribeCode != null and tribeCode != '' ">
            , tribe_code = #{tribeCode}
        </if>
        <if test="serverCode != null and serverCode != '' ">
            , server_code = #{serverCode}
        </if>
        <if test="characterPosition != null and characterPosition != '' ">
            , character_position = #{characterPosition}
        </if>
        <if test="guildSeq != null and guildSeq != '' ">
            , guild_seq = #{guildSeq}
        </if>
        <if test="firstExpertise != null and firstExpertise != '' ">
            , first_expertise = #{firstExpertise}
        </if>
        <if test="secondExpertise != null and secondExpertise != '' ">
            , second_expertise = #{secondExpertise}
        </if>
        <if test="useYn != null and useYn != '' ">
            , use_yn = #{useYn}
        </if>
        WHERE character_seq = #{characterSeq}
    </update>


</mapper>